@import "../themes/karzok/sass/main.scss";


html {
    background-color:rgb(29, 19, 45); // Main background colour
    color: #888; // Main foreground color
}
a {
    color: $black; // what is this?
    &:hover {
        color: $white; // Menu hover colour
    }
}
.header {
    border-color: #550055; // Header horizontal line
    &-span {
        color: rgb(100,130,200); // header text color
    }
    &-span:hover {
        color: rgb(173,127,205);;
    }
    &-active {
        border-color:rgb(155,100,180); // border selection colour in header
    }
}
.menu {
    &-a {
        color: #888;
        background-color: rgb(100, 77, 111);
        box-shadow: 8px 8px 8px 0 rgb(0, 0, 0);
    }
    &-time {
        color: $dark3;
    }
    &-a:hover {
        border-color: transparent;
        outline: 5px solid rgb(75, 40, 64); // Outline of menu on home page
    }
    & p {
        color: $dark2;
    }
}

