.footer {
    font-family: 'Roboto', sans-serif;
    position:absolute;
    // display: block;
    bottom:0;
    width: 100%;
    height:30px;   /* Height of the footer */
    background-color: $black;
    border-top: 2px solid;
    border-color: $black;
    color: $dark1;
    &-span {
        padding-left: 1em;
        font-size: 18px;
        margin-right: 25%;
    }
    &-a {
        color: $dark1;
    }
}
