.footer {
    font-family: 'Roboto', sans-serif;
    position:fixed;
    // display: block;
    bottom:0;
    width: 100%;
    // height:30px;   /* Height of the footer */
    flex-flow: row wrap;
    background-color: $black;
    border-top: 2px solid;
    border-color: $black;
    color: $dark1;
    border-bottom: 2px solid;
    &-span {
        padding-left: 1em;
        font-size: 18px;
        margin-right: 25%;
        // display: none;
    }
    &-a {
        color: $dark1;
        
    }
    &-a:hover {
        color: $selected_color;
    }
}
