
.astrophysics-p::before{
    content: "Here is some text!";
}

.webdevelopment-p::before{
    content: "Here is some text!";
}

.machinelearning-p::before{
    content: "Machine learning algorithms in python using Scikit-learn, numpy and pandas. Hierarchical (multi-level) models to describe data.";
}

.datascience-p::before{
    content: "gergjerlkj";
}
