.page {
    display: flex;
    padding: 1.5rem;
    margin-left: 2.25em;
    flex-direction: column;
    overflow-x: auto;
    width: calc(100% - (1.5rem * 4 - 10rem));
    &-title {
        margin: 2rem 0 0.5rem;
        font-size: 40px;
        font-weight: 700;
    }
       h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
    }
    a { // Link behaviour!!
        color: rgb(100,100,255);
        text-decoration: underline;
        &:hover {
            color: $selected_color;
            border-bottom: $black solid 1px;
        }
    }
    blockquote {
        margin-left: 0;
        margin-right: 0;
        color:rgb(101, 135, 202);
        padding-left: 10px;
        border-left: 3px solid $dark1;
        sup {
            padding-left: 0.25rem;
        }
        a {
            border-bottom: 1px solid $yellow;
        }
    }
    .footnote-definition {
        sup {
            top: -0.2.5em;
            font-size: 0.75em;
            display: inline;
        }
        p {
            display: inline;
        }
    }
    table {
        margin-top: 1rem;
        width: 100%;
        border-collapse: collapse;
        td{
            border: 1px solid #7a7d83;
            background-color: #2b303b;
        }
        th {
            border: 1px solid #40537b;
            background-color: #2b303b;
            padding: 5px 14px;
        }
    }
    pre {
        font-family: 'JetBrains Mono';
        margin-top: 1rem;
        background-color: $dark1 ;
        box-shadow: 2px solid;
        padding: 8px;
        overflow-x: auto;
    }
    .column{
        float: left;
        width: 47%;
        padding: 1.5%;
    }
    code {
        // display: flex;
        white-space: pre-wrap;
        flex-wrap:wrap;
        font-family: 'JetBrains Mono';
        font-size: 85%;
        color: $light1;
        background-color: #2b303b;
        span{
            // display: flex;
            // flex-wrap:wrap;
            overflow-wrap:break-word;
            // word-wrap:
        }
        
    }
    ol {
        list-style-type: decimal;
    }
    ul {
        list-style-type: disc;
        ol {
            padding-left: 15px;
        }
    }
    kbd {
        display: inline-block;
        padding: 4px 5px;
        font-size: 1.125rem;
        box-shadow: inset $light2 0px -1px 0;
        vertical-align: middle;
        border-radius: 2px;
    }
    #img1, #img2 {
        // display: block;
        // margin-left: auto;
        // margin-right: auto;
        // max-height: 600px; //100%;
        // width: 45%;
        // width: auto;
        background-color: white;
    }
    img {
        max-width: 600px; //100%;       
    }
    
    
}
.sections {
    display: flex;
    flex-wrap: wrap;
    li {
        display: flex;
        list-style: none;
        padding-right: 1em;
    }
    &-no-padding {
        padding-right: 0 ;
    }
    &-string {
        padding-top: 1em;
    }
    time {
        color: $dark2;
    }

}
